@charset "UTF-8";

/* Fonte Opens Sans */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* Configuração Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

:root {
  --primary-color-1: #87d887;
  --primary-color-2: #14863c;
  --primary-color-3: #21401c;
  --primary-color-4: #5058f2;
  --primary-color-5: #97db9e;
  --primary-color-6: #72bf6d;

  --gray-color-1: #f5f5f5;
  --gray-color-2: #bbb;
  --gray-color-3: #818181;

  --alert-color: rgb(226, 17, 17);

  --main-font: "Open Sans", sans-serif;
}

.section {
  padding: 6.1rem;
  font-family: var(--main-font);
  color: var(--primary-color-3);
}

.btn {
  align-self: center;
  border-radius: 3.12rem;
  padding: 0.82rem 2.5rem;
  font-size: 2.3rem;
  color: white;
  transition: 0.3s;
  cursor: pointer;
}

h1 {
  font-size: 4.5rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Menu de Navegação */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 6.1rem;
  border-bottom: 0.1rem solid var(--primary-color-2);
}

.EcoInovare-logo {
  width: 25rem;
}

.navigation-items {
  display: flex;
  gap: 4.88rem;
  font-size: 2rem;
  font-weight: 500;
  font-family: var(--main-font);
}

.navigation-items li a {
  color: var(--primary-color-3);
}

.navigation-items li {
  transition: 0.2s;
}

.navigation-items li:hover {
  transform: scale(1.1);
}

/* Seção Hero */
.hero-section {
  height: 100vh;
  position: relative;
}

.top-right-circle {
  position: absolute;
  right: 0;
  top: 0;
  height: 20rem;
  width: 20rem;
  background-color: var(--primary-color-5);
  clip-path: circle(15rem at 20rem 0rem);
}

.bottom-left-circle {
  height: 40rem;
  width: 40rem;
  background-color: var(--primary-color-5);
  position: absolute;
  bottom: 0;
  left: 0;
  clip-path: circle(25rem at 5rem 40rem);
}

.overlapping-bottom-left-circle {
  height: 20rem;
  width: 15rem;
  background-color: var(--primary-color-6);
  position: absolute;
  bottom: 9rem;
  left: 13rem;
  clip-path: circle();
}

.container-hero {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.container-hero-information {
  display: flex;
  flex-flow: column;
  gap: 2.5rem;
}

.container-hero-information h1,
.container-hero-information p strong {
  color: var(--primary-color-3);
}

.container-hero-information h2 {
  color: var(--primary-color-3);
  font-size: 3.32rem;
}

.container-hero-information p {
  font-size: 2.3rem;
  line-height: 1.6;
}

.container-hero-information em {
  color: var(--primary-color-4);
}

.container-hero-information h2 strong {
  color: var(--primary-color-2);
}

.btn-learn-more {
  background-color: var(--primary-color-2);
  margin-top: 2rem;
}

.btn-learn-more::after {
  content: "\1F86A";
  padding-left: 0.52rem;
}

.btn-learn-more:hover {
  background-color: var(--primary-color-4);
  transform: translateY(-0.5rem);
}

.hero-illustration {
  width: 55rem;
}

/* Seção Principais Serviços */
.main-services-section {
  position: relative;
}

.top-left-circle {
  clip-path: circle(25rem at 5rem -1rem);
  height: 40rem;
  width: 40rem;
  background-color: var(--primary-color-5);
  position: absolute;
  top: 0;
  left: 0;
}

.container-main-services {
  display: flex;
  flex-flow: column;
  gap: 11.92rem;
}

.main-services-title {
  text-align: center;
  position: relative;
  font-size: 3.98rem;
  color: var(--primary-color-3);
}
/* Propriedade ::after usada para adicionar uma borda inferior sobre o título da seção. */
.main-services-title::after {
  content: "";
  border-bottom: 0.5rem solid var(--primary-color-4);
  border-radius: 2rem;
  position: absolute;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
}

.container-service {
  display: flex;
  gap: 9.54rem;
}

.container-service-information {
  display: flex;
  flex-flow: column;
  gap: 3.9rem;
  align-self: center;
}

.container-service-information h3 {
  font-size: 3.32rem;
  text-align: center;
  color: var(--primary-color-2);
}

.container-service-information p {
  font-size: 2.3rem;
  text-align: justify;
  line-height: 1.6;
}

.container-img-and-btn-service {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.service-image {
  width: 60rem;
}

.btn-discover-now {
  background-color: var(--primary-color-4);
  border: 0.2rem solid var(--primary-color-4);
}

.btn-discover-now:hover {
  background-color: white;
  color: var(--primary-color-4);
}

/* Seção Dados Estatísticos */
.statistics-data-section {
  background-image: url(../IMAGENS/imagem-fundo-dados-estatisticos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0rem 0rem 1rem var(--gray-color-2);
  margin-top: 35rem;
}

.container-statistics-data ul {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  padding: 6.1rem 2rem;
}

.container-statistics-data p {
  color: var(--primary-color-2);
  text-align: center;
  font-size: 3.32rem;
  font-weight: bold;
}

/* Seção Diferenciais */
.features-section {
  background-color: var(--primary-color-4);
  margin-top: 35rem;
  box-shadow: 0rem 0.2rem 2rem 0rem var(--gray-color-3);
}

.container-features {
  display: flex;
  flex-flow: column;
}

.features-title {
  position: relative;
  text-align: center;
  font-size: 3.98rem;
  color: white;
}

.features-title::after {
  position: absolute;
  content: "";
  border-bottom: 0.5rem solid white;
  border-radius: 2rem;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
}

.container-features-cards {
  display: flex;
  gap: 7.63rem;
  font-size: 2.3rem;
}

.feature-card {
  flex: 1;
  position: relative;
  bottom: -25rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2rem;
  padding: 6.1rem 4.88rem;
  border-radius: 2rem;
  text-align: center;
  background-color: var(--gray-color-1);
  box-shadow: 0rem 0.2rem 1rem 0rem var(--gray-color-3);
}

.feature-card:nth-child(2) {
  bottom: -20rem;
}

.feature-card-icon {
  width: 10rem;
}

.feature-card h3 {
  color: var(--primary-color-2);
}

.feature-card p {
  line-height: 1.6;
  text-align: center;
}

/* Seção Depoimentos */
.testimonials-section {
  margin-top: 35rem;
}

.container-testimonials {
  display: flex;
  flex-flow: column;
  gap: 11.92rem;
}

.testimonials-title {
  position: relative;
  text-align: center;
  font-size: 3.98rem;
}

.testimonials-title::after {
  position: absolute;
  content: "";
  border-bottom: 0.5rem solid var(--primary-color-4);
  border-radius: 2rem;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
}

.container-testimonials-cards-carousel {
  display: flex;
  gap: 3.9rem;
  padding: 4.88rem;
}

.testimonial-card {
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 3.12rem;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0rem 0.2rem 1rem 0rem var(--gray-color-2);
}

.client-information {
  display: flex;
  align-items: center;
  gap: 1.28rem;
}

.client-image {
  height: 14rem;
  width: 15rem;
  border-radius: 50%;
}

.client-job-name {
  font-size: 1.92rem;
}

.client-job-title-highlight {
  font-size: 1.8rem;
  color: var(--primary-color-2);
}

.client-testimonial p {
  text-align: center;
  font-size: 1.7rem;
  line-height: 1.6;
}

.carousel-indicators {
  margin-top: -8rem;
  display: flex;
  justify-content: center;
  gap: 1.6rem;
}

.carousel-indicators span {
  background-color: var(--primary-color-4);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}

/* Seção Perguntas Frequentes */
.frequent-questions-section {
  margin-top: 10rem;
}

.container-frequent-questions {
  display: flex;
  flex-flow: column;
  gap: 11.92rem;
}

.frequent-questions-title {
  font-size: 3.98rem;
  text-align: center;
  position: relative;
}

.frequent-questions-title::after {
  position: absolute;
  content: "";
  border-bottom: 0.5rem solid var(--primary-color-4);
  border-radius: 2rem;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
}

.container-accordion-and-illustration {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.accordion {
  flex-basis: 85rem;
  display: flex;
  flex-flow: column;
  gap: 2.5rem;
}

.accordion-item {
  display: flex;
  flex-flow: column;
  cursor: pointer;
}

.container-accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-color-2);
  border-radius: 2.5rem;
  border-bottom: 0.3rem solid var(--gray-color-3);
  border-right: 0.3rem solid var(--gray-color-3);
  padding: 1.2rem 1.6rem;
}

.accordion-title {
  font-size: 1.8rem;
}

.arrow-icon {
  width: 2rem;
  transform: rotate(180deg);
  transition: transform 0.2s linear;
}

.accordion-content {
  opacity: 0;
  height: 0;
  transition: opacity 0.3s;
  overflow: hidden;
}

.active-item .container-accordion-title {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.active-item .accordion-content {
  display: flex;
  flex-flow: column;
  gap: 1.6rem;
  opacity: 1;
  height: 100%;
  padding: 2rem 2.5rem;
  background-color: var(--gray-color-1);
  border: 0.1rem solid var(--gray-color-2);
  font-size: 1.6rem;
  font-weight: 500;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}

.active-item .arrow-icon {
  transform: rotate(0);
}

.frequent-questions-illustration {
  width: 55rem;
}

/* Seção Formulário de Conversão */
.conversion-form-section {
  position: relative;
  margin-top: 15rem;
}

.container-form-conversion-section {
  display: flex;
  justify-content: space-around;
}

.container-title-and-illustration {
  align-self: flex-start;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 6.1rem;
}

.container-title-and-illustration h2 {
  font-size: 4.5rem;
  color: var(--primary-color-4);
}

.container-title-and-illustration h3 {
  font-size: 3.98rem;
  color: var(--primary-color-2);
}

.conversion-form-illustration {
  width: 50rem;
}

.conversion-form {
  display: flex;
  flex-flow: column;
  gap: 2.5rem;
}

.form-group {
  display: flex;
  flex-flow: column;
  gap: 0.82rem;
}

.error-message {
  font-size: 1.6rem;
  color: var(--alert-color);
  margin-left: 1rem;
  display: none;
}

label,
input,
textarea {
  font-size: 1.92rem;
}

input,
textarea {
  padding: 0.82rem 1.2rem;
  outline: none;
  border: 0.1rem solid var(--gray-color-2);
  background-color: var(--gray-color-1);
}

label {
  font-weight: 500;
}

input {
  border-radius: 2rem;
}

textarea {
  resize: none;
  border-radius: 1.2rem;
  font-family: var(--main-font);
  text-align: justify;
}

.btn-submit-form {
  border: none;
  background-color: var(--primary-color-4);
}

.btn-submit-form:hover {
  box-shadow: 0rem 0rem 3rem 0rem var(--gray-color-2);
}

/* Modal após envio de formulário */
.conversion-form-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2.5rem;
  padding: 2.5rem;
}

.conversion-form-modal::backdrop {
  background-color: black;
}

.modal-icon-background {
  border: 0.2rem solid var(--primary-color-2);
  border-radius: 50%;
  display: flex;
  align-items: center;
}

.form-modal-icon {
  width: 8rem;
}

.modal-group {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.modal-group p {
  font-size: 2.3rem;
  font-weight: 500;
  color: var(--primary-color-3);
}

.btn-close-modal {
  background-color: var(--primary-color-2);
  color: white;
  border: none;
}

/* Rodapé */
.footer {
  margin-top: 15rem;
  background-color: var(--primary-color-3);
  box-shadow: 0rem 0.2rem 2rem 0rem var(--gray-color-3);
}

.container-footer {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
}

.container-footer h2 {
  color: white;
  font-size: 1.92rem;
  font-weight: 500;
  border-radius: 0.3rem;
  border-left: 0.3rem solid var(--primary-color-1);
  padding-left: 0.7rem;
}

.container-footer ul {
  display: flex;
  flex-flow: column;
  gap: 1.6rem;
  padding-left: 0.5rem;
}

.container-footer li,
.container-footer a {
  color: var(--gray-color-2);
  font-size: 1.4rem;
}

.container-footer a:hover {
  color: white;
}

.container-footer li img {
  width: 3rem;
  fill: white;
  stroke: white;
}

.services,
.contact,
.about-us,
.social-media {
  display: flex;
  flex-flow: column;
  gap: 2.3rem;
}

.contact li {
  display: flex;
  align-items: center;
  gap: 0.82rem;
  font-style: normal;
}
