/* Menu de Navegação */
.navigation-menu {
  display: flex;
  justify-content: space-between;
  padding: 0 6.1rem;
  border-bottom: 0.1rem solid var(--primary-color-2);
}

.container-logo-and-mobile-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.EcoInovare-logo {
  width: 25rem;
  padding: 0.52rem 0 0.52rem 0;
}

.btn-menu {
  display: none;
  width: 3.9rem;
  margin-right: 2rem;
}

.navigation-items {
  display: flex;
  align-items: center;
  gap: 4.88rem;
  font-size: 2rem;
  font-weight: 500;
  font-family: var(--main-font);
}

.navigation-items li a {
  color: var(--primary-color-3);
}

.navigation-items li {
  transition: 0.2s;
}

.navigation-items li:hover {
  transform: scale(1.1);
}

.navigation-items li:last-child {
  position: relative;
}

.navigation-items li:last-child:hover {
  transform: none;
}

.navigation-items li:last-child::before {
  content: "";
  position: absolute;
  bottom: -1rem;
  left: 0;
  border-bottom: 0.3rem solid var(--primary-color-2);
  border-radius: 1rem;
  width: 100%;
}

/* Conteúdo Principal */
main {
  font-family: var(--main-font);
  padding: 0 6.1rem;
}

.information-menu {
  border-bottom: 0.3rem solid var(--gray-color-2);
  padding-bottom: 3.12rem;
}

.information-menu ul {
  display: flex;
  justify-content: space-around;
}

.information-menu ul li {
  position: relative;
  font-size: 2.3rem;
  font-weight: 500;
}

.information-menu ul li::after {
  content: "";
  position: absolute;
  bottom: -3.2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 12rem;
  border: 0.3rem solid var(--primary-color-3);
  border-radius: 0.5rem;
}

.information-menu ul li:not(:first-child)::after {
  display: none;
}

.information-menu ul li:hover::after {
  display: block;
}

.btn-about-us {
  color: var(--primary-color-3);
}

.border-bottom {
  display: none;
  position: absolute;
  bottom: -3.2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 12.7rem;
  border: 0.3rem solid var(--primary-color-3);
  border-radius: 0.5rem;
}

section {
  margin-top: 4.88rem;
}

.container-about-us {
  display: flex;
  flex-flow: column;
  gap: 3.9rem;
  align-items: center;
}

.main-title {
  position: relative;
  color: var(--primary-color-3);
  font-size: 3.12rem;
}

.main-title::after {
  content: "";
  position: absolute;
  bottom: -1.6rem;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 0.4rem solid var(--primary-color-4);
  border-radius: 1rem;
  width: 60%;
}

.informative-text {
  font-size: 1.8rem;
  max-width: 80%;
  margin-top: 2rem;
  text-align: justify;
  line-height: 1.6;
}

.informative-text b {
  color: var(--primary-color-3);
}

.informative-text::first-letter {
  font-size: 2.5rem;
}

.about-us-image {
  width: 50rem;
}

/* Rodapé */
.footer {
  margin-top: 15rem;
  background-color: var(--primary-color-3);
  box-shadow: 0rem 0.2rem 2rem 0rem var(--gray-color-3);
}

.container-footer {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
}

.container-footer h2 {
  color: white;
  font-size: 1.92rem;
  font-weight: 500;
  border-radius: 0.3rem;
  border-left: 0.3rem solid var(--primary-color-1);
  padding-left: 0.7rem;
}

.container-footer ul {
  display: flex;
  flex-flow: column;
  gap: 1.6rem;
  padding-left: 0.5rem;
}

.container-footer li,
.container-footer a {
  color: var(--gray-color-2);
  font-size: 1.4rem;
}

.container-footer a:hover {
  color: white;
}

.container-footer li img {
  width: 3rem;
  fill: white;
  stroke: white;
}

.services,
.contact,
.about-us,
.social-media {
  display: flex;
  flex-flow: column;
  gap: 2.3rem;
}

.contact li {
  display: flex;
  align-items: center;
  gap: 0.82rem;
  font-style: normal;
}

/* Logo do Whatsapp */
.whatsapp-icon {
  width: 7.63rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  filter: drop-shadow(0 0 0.75rem var(--primary-color-1));
  transition: transform 0.3s;
}

.whatsapp-icon:hover {
  transform: translateY(-1rem);
}

/* Botão de voltar ao topo da página */
.btn-back-to-top {
  position: fixed;
  bottom: 12rem;
  right: 2rem;
  display: none;
}

.btn-back-to-top img {
  width: 6.1rem;
}
