@media (max-width: 1024px) {
  html {
    font-size: 58%;
  }

  /* Conteúdo Principal */
  .container-main-content {
    flex-flow: column;
  }

  /* Seção Informações de Contato */
  .container-informations {
    flex-flow: row;
    align-items: center;
  }

  .container-social-media {
    flex-flow: column;
    margin: 0;
    margin-left: 5rem;
  }
}
