/* Menu de Navegação */
nav {
  display: flex;
  justify-content: space-between;
  padding: 0 6.1rem;
  border-bottom: 0.1rem solid var(--primary-color-2);
}

.container-logo-and-mobile-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.EcoInovare-logo {
  width: 25rem;
  padding: 0.52rem 0 0.52rem 0;
}

.btn-menu {
  display: none;
  width: 3.9rem;
  margin-right: 2rem;
}

.navigation-items {
  display: flex;
  align-items: center;
  gap: 4.88rem;
  font-size: 2rem;
  font-weight: 500;
  font-family: var(--main-font);
}

.navigation-items li a {
  color: var(--primary-color-3);
}

.navigation-items li {
  transition: 0.2s;
}

.navigation-items li:hover {
  transform: scale(1.1);
}

/* Seção Hero */
.hero-section {
  height: 100vh;
  position: relative;
}

.top-right-circle {
  position: absolute;
  right: 0;
  top: 0;
  height: 20rem;
  width: 20rem;
  background-color: var(--primary-color-5);
  clip-path: circle(15rem at 20rem 0rem);
}

.bottom-left-circle {
  height: 40rem;
  width: 40rem;
  background-color: var(--primary-color-5);
  position: absolute;
  bottom: 0;
  left: 0;
  clip-path: circle(25rem at 5rem 40rem);
}

.overlapping-bottom-left-circle {
  height: 20rem;
  width: 15rem;
  background-color: var(--primary-color-6);
  position: absolute;
  bottom: 9rem;
  left: 13rem;
  clip-path: circle();
}

.container-hero {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.container-hero-information {
  display: flex;
  flex-flow: column;
  gap: 2.5rem;
}

.container-hero-information h1,
.container-hero-information p strong {
  color: var(--primary-color-3);
}

.container-hero-information h2 {
  color: var(--primary-color-3);
  font-size: 3.32rem;
}

.container-hero-information p {
  font-size: 2.3rem;
  line-height: 1.6;
}

.container-hero-information em {
  color: var(--primary-color-4);
}

.container-hero-information h2 strong {
  color: var(--primary-color-2);
}

.btn-learn-more {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  background-color: var(--primary-color-2);
  margin-top: 2rem;
}

.btn-learn-more > a {
  color: white;
}

.btn-learn-more > img {
  width: 2.5rem;
}

.btn-learn-more:hover {
  background-color: var(--primary-color-4);
  transform: translateY(-0.5rem);
}

.hero-illustration {
  width: 55rem;
}

/* Seção Principais Serviços */
.main-services-section {
  position: relative;
}

.top-left-circle {
  clip-path: circle(25rem at 5rem -1rem);
  height: 40rem;
  width: 40rem;
  background-color: var(--primary-color-5);
  position: absolute;
  top: 0;
  left: 0;
}

.container-main-services {
  display: flex;
  flex-flow: column;
  gap: 11.92rem;
}

.main-services-title {
  text-align: center;
  position: relative;
  font-size: 3.98rem;
  color: var(--primary-color-3);
}
/* Propriedade ::after usada para adicionar uma borda inferior sobre o título da seção. */
.main-services-title::after {
  content: "";
  border-bottom: 0.5rem solid var(--primary-color-4);
  border-radius: 2rem;
  position: absolute;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
}

.container-service {
  display: flex;
  gap: 9.54rem;
}

.container-service-information {
  display: flex;
  flex-flow: column;
  gap: 3.9rem;
  align-self: center;
}

.container-service-information h3 {
  font-size: 3.32rem;
  text-align: center;
  color: var(--primary-color-2);
}

.container-service-information p {
  font-size: 2.3rem;
  text-align: justify;
  line-height: 1.6;
}

.container-img-and-btn-service {
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.service-image {
  width: 60rem;
}

.btn-discover-now {
  background-color: var(--primary-color-4);
  border: 0.2rem solid var(--primary-color-4);
}

.btn-discover-now:hover {
  background-color: white;
  color: var(--primary-color-4);
}

/* Seção Dados Estatísticos */
.statistics-data-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0rem 0rem 1rem var(--gray-color-2);
  margin-top: 15rem;
}

.container-statistics-data ul {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  padding: 6.1rem 2rem;
}

.container-statistics-data p {
  color: var(--primary-color-2);
  text-align: center;
  font-size: 3.32rem;
  font-weight: bold;
}

/* Seção Diferenciais */
.features-section {
  background-color: var(--primary-color-4);
  margin-top: 15rem;
  box-shadow: 0rem 0.2rem 2rem 0rem var(--gray-color-3);
}

.container-features {
  display: flex;
  flex-flow: column;
}

.features-title {
  position: relative;
  text-align: center;
  font-size: 3.98rem;
  color: white;
}

.features-title::after {
  position: absolute;
  content: "";
  border-bottom: 0.5rem solid white;
  border-radius: 2rem;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
}

.container-features-cards {
  display: flex;
  gap: 7.63rem;
  font-size: 2.3rem;
}

.feature-card {
  flex: 1;
  position: relative;
  bottom: -25rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 2rem;
  padding: 6.1rem 4.88rem;
  border-radius: 2rem;
  text-align: center;
  background-color: var(--gray-color-1);
  box-shadow: 0rem 0.2rem 1rem 0rem var(--gray-color-3);
}

.feature-card:nth-child(2) {
  bottom: -20rem;
}

.feature-card-icon {
  width: 10rem;
}

.feature-card h3 {
  color: var(--primary-color-2);
  text-align: center;
}

.feature-card p {
  line-height: 1.6;
  text-align: center;
}

/* Seção Depoimentos */
.testimonials-section {
  margin-top: 40rem;
  padding: 0;
}

.container-testimonials-section {
  display: flex;
  flex-flow: column;
  gap: 9.54rem;
}

.testimonials-title {
  font-size: 3.98rem;
  text-align: center;
  position: relative;
}

.testimonials-title::after {
  content: "";
  position: absolute;
  border-bottom: 0.5rem solid var(--primary-color-4);
  border-radius: 2rem;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
}

.box-testimonials-carousel {
  background-position: 50%;
  background-size: cover;
  box-shadow: 0 0 0.8rem var(--gray-color-2);
}

.container-testimonials-carousel {
  margin: 0 auto;
  width: 100rem;
  height: 56rem;
  overflow: hidden;
}

.testimonials-carousel {
  width: 400%;
  height: 40rem;
  display: flex;
  border-radius: 1.2rem;
}

.testimonials-carousel input {
  display: none;
}

.slide {
  width: 25%;
  position: relative;
  transition: 0.8s;
}

.slide img {
  width: 100rem;
}

.manual-navigation {
  display: flex;
  justify-content: center;
  gap: 2rem;
  position: absolute;
  width: 100rem;
  margin-top: 13rem;
}

.manual-btn {
  border: 0.2rem solid var(--primary-color-4);
  padding: 0.8rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.5s;
}

.manual-btn:hover {
  background-color: var(--primary-color-4);
}

#radio-btn1:checked ~ .first-slide {
  margin-left: 0;
}

#radio-btn2:checked ~ .first-slide {
  margin-left: -25%;
}

#radio-btn3:checked ~ .first-slide {
  margin-left: -50%;
}

.navigation-auto {
  position: absolute;
  width: 100rem;
  margin-top: 53rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.navigation-auto div {
  border: 0.2rem solid var(--primary-color-4);
  padding: 0.8rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.5s;
}

#radio-btn1:checked ~ .navigation-auto .auto-btn1 {
  background-color: var(--primary-color-4);
}

#radio-btn2:checked ~ .navigation-auto .auto-btn2 {
  background-color: var(--primary-color-4);
}

#radio-btn3:checked ~ .navigation-auto .auto-btn3 {
  background-color: var(--primary-color-4);
}

/* Seção Perguntas Frequentes */
.frequent-questions-section {
  margin-top: 15rem;
}

.container-frequent-questions {
  display: flex;
  flex-flow: column;
  gap: 11.92rem;
}

.frequent-questions-title {
  font-size: 3.98rem;
  text-align: center;
  position: relative;
}

.frequent-questions-title::after {
  position: absolute;
  content: "";
  border-bottom: 0.5rem solid var(--primary-color-4);
  border-radius: 2rem;
  top: 7rem;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
}

.container-accordion-and-illustration {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.accordion {
  flex-basis: 85rem;
  display: flex;
  flex-flow: column;
  gap: 2.5rem;
}

.accordion-item {
  display: flex;
  flex-flow: column;
  cursor: pointer;
}

.container-accordion-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--gray-color-2);
  border-radius: 2.5rem;
  border-bottom: 0.3rem solid var(--gray-color-3);
  border-right: 0.3rem solid var(--gray-color-3);
  padding: 1.2rem 1.6rem;
}

.accordion-title {
  font-size: 1.8rem;
}

.arrow-icon {
  width: 2rem;
  transform: rotate(180deg);
  transition: transform 0.2s linear;
}

.accordion-content {
  opacity: 0;
  height: 0;
  transition: opacity 0.3s;
  overflow: hidden;
}

.active-item .container-accordion-title {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.active-item .accordion-content {
  display: flex;
  flex-flow: column;
  gap: 1.6rem;
  opacity: 1;
  height: 100%;
  padding: 2rem 2.5rem;
  background-color: var(--gray-color-1);
  border: 0.1rem solid var(--gray-color-2);
  font-size: 1.6rem;
  font-weight: 500;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
}

.active-item .arrow-icon {
  transform: rotate(0);
}

.frequent-questions-illustration {
  width: 55rem;
}

/* Seção Formulário de Conversão */
.conversion-form-section {
  position: relative;
  margin-top: 10rem;
}

.container-form-conversion-section {
  display: flex;
  justify-content: space-around;
}

.container-title-and-illustration {
  align-self: flex-start;
  display: flex;
  flex-flow: column;
  align-items: center;
  gap: 6.1rem;
}

.container-title-and-illustration h2 {
  font-size: 4.5rem;
  color: var(--primary-color-4);
}

.container-title-and-illustration h3 {
  font-size: 3.98rem;
  color: var(--primary-color-2);
}

.conversion-form-illustration {
  width: 50rem;
}

.conversion-form {
  display: flex;
  flex-flow: column;
  gap: 2.7rem;
}

.container-form-group {
  display: flex;
  flex-flow: column;
  gap: 2.5rem;
}

.form-group {
  display: flex;
  flex-flow: column;
  gap: 0.82rem;
}

.error-message {
  font-size: 1.6rem;
  color: var(--alert-color);
  margin-left: 1rem;
  display: none;
}

label,
input,
textarea {
  font-size: 1.92rem;
}

input,
textarea {
  padding: 0.82rem 1.2rem;
  outline: none;
  border: 0.1rem solid var(--gray-color-2);
  background-color: var(--gray-color-1);
}

label {
  font-weight: 500;
}

input {
  border-radius: 2rem;
}

textarea {
  resize: none;
  border-radius: 1.2rem;
  font-family: var(--main-font);
  text-align: justify;
}

.btn-submit-form {
  border: none;
  background-color: var(--primary-color-4);
}

.btn-submit-form:hover {
  box-shadow: 0rem 0rem 3rem 0rem var(--gray-color-2);
}

/* Modal após envio de formulário */
.conversion-form-modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2.5rem;
  border: none;
  border-radius: 1.2rem;
  box-shadow: 0rem 0.2rem 1rem 0rem var(--gray-color-2);
  opacity: 0;
  transition: opacity 0.7s, display 0.7s;
}

.conversion-form-modal[open] {
  opacity: 1;
}

.conversion-form-modal::backdrop {
  backdrop-filter: blur(0.8rem);
}

/* ------ Animação de modal ------*/
@starting-style {
  .conversion-form-modal[open] {
    opacity: 0;
  }
}

.modal-icon-background {
  border: 0.2rem solid var(--primary-color-2);
  border-radius: 50%;
  width: 8rem;
  margin: 0 auto;
  display: flex;
}

.modal-icon {
  width: 8rem;
}

.modal-group {
  margin-top: 2rem;
  display: flex;
  flex-flow: column;
  gap: 2rem;
}

.modal-group p {
  font-size: 2.3rem;
  font-weight: 500;
  text-align: center;
  color: var(--primary-color-3);
}

.btn-close-modal {
  background-color: var(--primary-color-2);
  color: white;
  border: none;
}

/* Rodapé */
.footer {
  margin-top: 15rem;
  background-color: var(--primary-color-3);
  box-shadow: 0rem 0.2rem 2rem 0rem var(--gray-color-3);
}

.container-footer {
  display: flex;
  justify-content: space-around;
  padding-top: 2rem;
}

.container-footer h2 {
  color: white;
  font-size: 1.92rem;
  font-weight: 500;
  border-radius: 0.3rem;
  border-left: 0.3rem solid var(--primary-color-1);
  padding-left: 0.7rem;
}

.container-footer ul {
  display: flex;
  flex-flow: column;
  gap: 1.6rem;
  padding-left: 0.5rem;
}

.container-footer li,
.container-footer a {
  color: var(--gray-color-2);
  font-size: 1.4rem;
}

.container-footer a:hover {
  color: white;
}

.container-footer li img {
  width: 3rem;
  fill: white;
  stroke: white;
}

.services,
.contact,
.about-us,
.social-media {
  display: flex;
  flex-flow: column;
  gap: 2.3rem;
}

.contact li {
  display: flex;
  align-items: center;
  gap: 0.82rem;
  font-style: normal;
}

/* Logo do Whatsapp */
.whatsapp-icon {
  width: 7.63rem;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  filter: drop-shadow(0 0 0.75rem var(--primary-color-1));
  transition: transform 0.3s;
}

.whatsapp-icon:hover {
  transform: translateY(-1rem);
}
