@media (max-width: 768px) {
  .section {
    padding: 3.9rem;
  }

  /* Menu de navegação */
  nav {
    flex-flow: column;
    padding: 2rem;
    gap: 2.5rem;
  }

  .btn-menu {
    display: inline;
  }

  .navigation-items {
    display: none;
  }

  .navigation-items li {
    position: relative;
  }

  .navigation-items li:not(:last-child)::after {
    content: "";
    width: 100vw !important;
    position: absolute;
    bottom: -3rem;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 0.1rem solid var(--primary-color-2);
  }

  .navigation-open {
    display: flex;
    flex-flow: column;
    margin-bottom: 1rem;
  }

  /* Seção Hero */
  .hero-illustration {
    width: 45rem;
  }

  /* Seção Formulário de Conversão */
  .conversion-form-illustration {
    width: 40rem;
  }
}
