@media (max-width: 768px) {
  .section {
    padding: 3.9rem;
  }

  /* Menu de navegação */
  nav {
    flex-flow: column;
    padding: 2rem;
    gap: 2.5rem;
  }
  
  .btn-menu {
    display: inline;
  }

  .navigation-items {
    display: none;
  }

  .navigation-items li {
    position: relative;
  }

  .navigation-items li:not(:last-child)::after {
    content: "";
    width: 100vw !important;
    position: absolute;
    bottom: -3rem;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: 0.1rem solid var(--primary-color-2);
  }

  .navigation-open {
    display: flex;
    flex-flow: column;
    margin-bottom: 1rem;
  }

  /* Seção Hero */
  .hero-illustration {
    width: 45rem;
  }

  /* Seção Diferenciais */
  .container-features {
    gap: 7.63rem;
  }

  .container-features-cards {
    flex-wrap: wrap;
    gap: 6.1rem;
  }

  .feature-card {
    position: static;
  }

  /* Seção Depoimentos */
  .testimonials-section {
    padding: 0 !important;
    margin-top: 15rem;
  }

  .testimonials-title {
    font-size: 3.32rem;
    padding: 0.52rem;
  }

  .testimonials-title::after {
    top: 6rem;
  }

  .container-testimonials-carousel {
    width: 68rem;
  }

  .navigation-auto,
  .manual-navigation {
    width: 68rem;
  }

  /* Seção Perguntas Frequentes */
  .frequent-questions-title {
    font-size: 3.32rem;
  }

  .frequent-questions-title::after {
    top: 6rem;
  }

  .container-accordion-and-illustration {
    flex-flow: column;
    gap: 2.5rem;
  }

  .accordion {
    flex-basis: auto;
  }

  .container-accordion-title {
    gap: 1.6rem;
  }

  .accordion-title {
    text-align: center;
  }

  /* Seção Formulário de Conversão */
  .container-form-conversion-section {
    flex-flow: column;
  }

  .container-title-and-illustration h2,
  h3 {
    text-align: left;
  }

  .container-title {
    display: flex;
    flex-flow: column;
    gap: 2rem;
  }

  .conversion-form-illustration {
    width: 40rem;
  }

  .modal-group p {
    width: max-content;
  }

  /* Rodapé */
  .container-footer {
    flex-flow: column;
    gap: 3.9rem;
  }

  .container-footer h2 {
    font-size: 2.3rem;
    text-align: left;
  }

  .services,
  .contact,
  .about-us,
  .social-media {
    align-self: flex-start;
  }

  .services li a {
    font-size: 1.7rem;
  }

  .contact li p {
    font-size: 1.7rem;
  }

  .about-us li a {
    font-size: 1.7rem;
  }

  .social-media li img {
    width: 3.5rem;
  }
}
