@media (max-width: 480px) {
  html {
    font-size: 50%;
  }

  /* Menu de navegação */
  nav {
    flex-flow: column;
    padding: 2rem;
    gap: 2.5rem;
  }

  .EcoInovare-logo {
    width: 20rem;
  }

  .btn-menu {
    display: inline;
  }

  .navigation-items {
    display: none;
  }

  .navigation-items li {
    position: relative;
  }

  .navigation-items li:not(:last-child)::after {
    content: "";
    width: 100vw;
    position: absolute;
    bottom: -3rem;
    left: 50%;
    transform: translate(-50%, -50%);
    border-bottom: 0.1rem solid var(--primary-color-2);
  }

  .navigation-open {
    display: flex;
    flex-flow: column;
    margin-bottom: 1rem;
  }

  /* Seção Hero */
  .top-right-circle,
  .bottom-left-circle,
  .overlapping-bottom-left-circle {
    display: none;
  }

  .container-hero {
    flex-flow: column;
  }

  .container-hero-information h1,
  h2,
  p {
    text-align: center;
  }

  .hero-illustration {
    align-self: center;
  }
}
