@media (max-width: 480px) {
  html {
    font-size: 50%;
  }

  nav {
    flex-flow: column;
    padding: 2rem;
    gap: 2.5rem;
  }

  .navigation-items {
    flex-flow: column;
    margin-bottom: 2rem;
  }

  .btn-menu {
    display: inline;
  }
}
