@media (max-width: 991px) {
  html {
    font-size: 58%;
  }

  .section {
    padding: 4.88rem;
  }

  /* Menu de Navegação */
  .EcoInovare-logo {
    width: 20rem;
  }

  /* Seção Hero */
  .hero-section {
    position: static;
    height: auto;
  }

  .top-right-circle,
  .bottom-left-circle,
  .overlapping-bottom-left-circle {
    display: none;
  }

  .container-hero {
    flex-flow: column;
    gap: 3.9rem;
  }

  .container-hero-information h1,
  h2,
  p {
    text-align: center;
  }

  .hero-illustration {
    align-self: center;
  }

  /* Seção Principais Serviços */
  .main-services-section {
    margin-top: 3.12rem;
    position: static;
  }

  .top-left-circle {
    display: none;
  }

  .container-service {
    flex-flow: column;
    gap: 4.88rem;
  }

  .container-service-information p {
    max-width: initial;
  }

  .container-img-and-btn-service {
    align-self: center;
  }

  .container-img-and-btn-service:nth-child(1) {
    order: 2;
  }

  .service-image {
    width: 50rem;
  }

  /* Seção Dados Estatísticos */
  .statistics-data-section {
    background-position: 50%;
  }

  .container-statistics-data ul {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3.9rem;
    padding: 0;
  }

  /* Seção Diferenciais */
  .container-features {
    gap: 7.63rem;
  }

  .container-features-cards {
    flex-wrap: wrap;
    gap: 6.1rem;
  }

  .feature-card {
    position: static;
  }

  /* Seção Depoimentos */
  .testimonials-section {
    padding: 0 !important;
    margin-top: 15rem;
  }

  .testimonials-title {
    font-size: 3.32rem;
    padding: 0.52rem;
  }

  .testimonials-title::after {
    top: 6rem;
  }

  .container-testimonials-carousel {
    width: 68rem;
  }

  .navigation-auto,
  .manual-navigation {
    width: 68rem;
  }

  /* Seção Perguntas Frequentes */
  .frequent-questions-title {
    font-size: 3.32rem;
  }

  .frequent-questions-title::after {
    top: 6rem;
  }

  .container-accordion-and-illustration {
    flex-flow: column;
    gap: 2.5rem;
  }

  .accordion {
    flex-basis: auto;
  }

  .accordion-title {
    text-align: center;
  }

  /* Seção Formulário de Conversão */
  .container-form-conversion-section {
    flex-flow: column;
  }

  .container-title-and-illustration h2,
  h3 {
    text-align: left;
  }

  .container-title {
    display: flex;
    flex-flow: column;
    gap: 2rem;
  }

  .conversion-form-illustration {
    width: 45rem;
  }

  .container-form-group {
    flex-flow: row wrap;
  }

  .form-group {
    flex: 1;
  }

  .modal-group p {
    width: max-content;
  }

  /* Rodapé */
  .container-footer {
    flex-flow: column;
    gap: 3.9rem;
  }

  .container-footer h2 {
    font-size: 2.3rem;
    text-align: left;
  }

  .services,
  .contact,
  .about-us,
  .social-media {
    align-self: flex-start;
  }

  .services li a {
    font-size: 1.7rem;
  }

  .contact li p {
    font-size: 1.7rem;
  }

  .about-us li a {
    font-size: 1.7rem;
  }

  .social-media li img {
    width: 3.5rem;
  }
}
