@media (max-width: 480px) {
  html {
    font-size: 50%;
  }

  .section {
    padding: 2.5rem;
  }

  /* Seção Hero */
  .hero-illustration {
    width: 40rem;
  }

  /* Seção Principais Serviços */
  .main-services-title {
    font-size: 3.32rem;
  }

  .main-services-title::after {
    top: 10rem;
  }

  .container-service {
    gap: 6.1rem;
  }

  .service-image {
    width: 40rem;
  }

  /* Seção Dados Estatísticos */
  .container-statistics-data ul {
    flex-flow: column;
    gap: 3.9rem;
  }

  /* Seção Diferenciais */
  .container-features {
    gap: 6.5rem;
  }

  .features-title {
    font-size: 3.32rem;
  }

  .features-title::after {
    top: 6rem;
  }

  .container-features-cards {
    flex-flow: column;
  }

  .feature-card {
    position: static;
  }

  /* Seção Depoimentos */
  .testimonials-section {
    padding: 0;
    margin-top: 15rem;
  }

  .testimonials-title {
    font-size: 3.32rem;
    padding: 0.52rem;
  }

  .testimonials-title::after {
    top: 6rem;
  }

  .container-testimonials-carousel {
    width: 35rem;
  }

  .navigation-auto,
  .manual-navigation {
    width: 35rem;
  }

  /* Seção Perguntas Frequentes */
  .frequent-questions-title {
    font-size: 3.32rem;
  }

  .frequent-questions-title::after {
    top: 6rem;
  }

  .container-accordion-and-illustration {
    flex-flow: column;
    gap: 2.5rem;
  }

  .accordion {
    flex-basis: auto;
  }

  .container-accordion-title {
    gap: 1.6rem;
  }

  .accordion-title {
    text-align: center;
  }

  /* Seção Fomulário de Conversão */
  .container-form-conversion-section {
    flex-flow: column;
  }

  .container-title-and-illustration h2,
  h3 {
    text-align: left;
  }

  .container-title {
    display: flex;
    flex-flow: column;
    gap: 2rem;
  }

  .conversion-form-illustration {
    width: 40rem;
  }

  .modal-group p {
    width: max-content;
  }

  /* Rodapé */
  .container-footer {
    flex-flow: column;
    gap: 3.9rem;
  }

  .container-footer h2 {
    font-size: 2.3rem;
    text-align: left;
  }

  .services,
  .contact,
  .about-us,
  .social-media {
    align-self: flex-start;
  }

  .services li a {
    font-size: 1.7rem;
  }

  .contact li p {
    font-size: 1.7rem;
  }

  .about-us li a {
    font-size: 1.7rem;
  }

  .social-media li img {
    width: 3.5rem;
  }
}
