@media (max-width: 991px) {
  .section {
    padding: 4.88rem;
  }

  /* Menu de Navegação */
  .EcoInovare-logo {
    width: 20rem;
  }

  /* Seção Hero */
  .hero-section {
    position: static;
    height: auto;
  }

  .top-right-circle,
  .bottom-left-circle,
  .overlapping-bottom-left-circle {
    display: none;
  }

  .container-hero {
    flex-flow: column;
    gap: 3.9rem;
  }

  .container-hero-information h1,
  h2,
  p {
    text-align: center;
  }

  .hero-illustration {
    align-self: center;
    width: 50rem;
  }

  /* Seção Principais Serviços */
  .main-services-section {
    margin-top: 3.12rem;
    position: static;
  }

  .top-left-circle {
    display: none;
  }

  .container-service {
    flex-flow: column;
    gap: 4.88rem;
  }

  .container-img-and-btn-service {
    align-self: center;
  }

  .container-img-and-btn-service:nth-child(1) {
    order: 2;
  }

  .service-image {
    width: 50rem;
  }

  /* Seção Dados Estatísticos */
  .statistics-data-section {
    background-position: 50%;
  }

  .container-statistics-data ul {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3.9rem;
    padding: 0;
  }

  /* Seção Diferenciais */
  .container-features {
    gap: 7.63rem;
  }

  .container-features-cards {
    flex-wrap: wrap;
    gap: 6.1rem;
  }

  .feature-card {
    position: static;
  }
}
