@media (max-width: 320px) {
  /* Modal de  Serviço */
  .service-description {
    max-width: 32rem !important;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 50%;
  }

  /* Modal de Serviço */
  .service-modal {
    overflow-x: hidden;
  }

  .service-description {
    width: max-content;
    max-width: 38rem;
  }

  /* Rodapé */
  .footer {
    padding: 2.5rem;
  }
}
